/* importacion de la fuente rubik para el html*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* guarda las variables para usarlas cuando quieras*/
    --primary-color: #1e3a8a;
    --secondary-color: rgb(154, 45, 213);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Rubik', 'Courier New';


}

header {
    background-color: white;
    padding: 40px;
    display: flex;
    align-items: center;
    /* centra en vertical*/
    gap: 30px;
    /*espacio entre dos bloques*/
    border-bottom: 1px solid #ddd;
}

header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

header h1 {
    font-size: 28px;
    color: var(--primary-color);
    /*uso la variable que he inicializado antes al principio del documento*/
}

header h2 {
    font-size: 18px;
    font-weight: 400px;
    color: var(--secondary-color);
    margin-top: 5px;
}

nav {
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    /*centra en horizontal con el flex usandose*/
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 15px 25px;

}

nav a:hover {
    background-color: var(--secondary-color);
    transition: background-color 0.3s ease;
}

/*Layout*/
.container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 40px;
    position: relative;
}

aside {
    width: 250px;
    position: sticky;
    top: 70px;
    margin-left: auto;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #ddd;
    z-index: 900;
}

aside h3 {
    margin-bottom: 15px;
    margin-left: 15px;
    color: var(--primary-color);
}

aside ul {
    list-style: none;
}

aside li {
    margin-left: 15px;
    margin-bottom: 10px;
}

aside a {
    color: #333;
    text-decoration: none;
}

aside a:hover {
    color: var(--primary-color);
    transition: color 0.3s ease;
    font-weight: 900;
}

/* SECTIONS */

section {
    background: white;
    padding: 25px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

section h2 {
    margin-bottom: 15px;
    color: #1e3a8a;
}

section p {
    line-height: 1.6;
    color: #555;
}

section ul {
    padding-left: 20px;
    list-style: none;
}

#formulario {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

#formulario label{
    display: flex;
    align-items: center;
    gap: 8px;
}

#enviar{
    
    color: var(--primary-color);
    border-radius: 10%;
    font-family: 'Rubik';
    font-size: 20px;

}
input:not([type="radio"]), select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 1px 1px 5px (0,0,0,0.5);
}
button{
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.3s;
}



